<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrea Zaccaro - Product Owner Personal Portfolio</title>
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>

    <header class="main-header">
        <h1>Welcome to my Product Owner Portfolio</h1>
        <p>Here you can find a collection of my case studies defined while working/applying for PO positions. Clicking
            on the item will find out the details.<br>Company names are fictional.</p>
    </header>

    <main id="portfolio-grid-container" class="portfolio-grid"></main>

    <script src="assets/data.js"></script>
    <script src="assets/portfolio-builder.js"></script>
</body>

</html>